<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calculator.mapper.InsertQuesMapper">


    <insert id="insertQues">
    insert into userques(userId, gradeId, quesId, titleId, accuracy,userResult,type)
    values (#{insertQuesMsg.userId},#{insertQuesMsg.gradeId},#{insertQuesMsg.quesId},#{titleId}, #{bool},#{str},#{insertQuesMsg.type});
    </insert>
</mapper>